
.home-container {
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.page-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}


.featured-movie-section {
  position: relative;
  height: 750px;
  margin-bottom: 30px;
  border-radius: 8px;
  overflow: hidden;
}

.featured-movie {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-in 5s infinite; 
}


.overlay {
  text-align: center;
  color: white;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 8px;
}


.featured-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
  color: white;
}


@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


.loading-spinner {
  text-align: center;
  font-size: 1.5rem;
  color: #906565;
  padding: 50px 0;
}


.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}


.movie-card {
  background-color: #1e1e1e;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.3s;
  overflow: auto;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie-card .movie-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  color: rgb(0, 0, 0);
}

.movie-card .movie-release {
  font-size: 0.9rem;
  color: #0f0101;
}
